In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np


df=pd.read_csv("/Users/jeon-eunkyu/PycharmProjects/uul/excelFile/people/경기인구.csv",encoding="CP949") # 파일명 바꾸기

In [49]:
#v1
arr = list(df.columns)

for i in range(1,len(arr)) :
    arr[i] = arr[i][11:]
    
print(arr)

df.columns = arr

df.head()

['행정구역', '총인구수', '연령구간인구수', '0~9세', '10~19세', '20~29세', '30~39세', '40~49세', '50~59세', '60~69세', '70~79세', '80~89세', '90~99세', '100세 이상', '총인구수', '연령구간인구수', '0~9세', '10~19세', '20~29세', '30~39세', '40~49세', '50~59세', '60~69세', '70~79세', '80~89세', '90~99세', '100세 이상', '총인구수', '연령구간인구수', '0~9세', '10~19세', '20~29세', '30~39세', '40~49세', '50~59세', '60~69세', '70~79세', '80~89세', '90~99세', '100세 이상']

,행정구역,총인구수,연령구간인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,...,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상
0,세종특별자치시 (3600000000),386525,386525,43541,50736,37810,59340,77183,54433,37233,...,25151,18611,30072,38939,25932,18700,8685,5262,1192,38
1,세종특별자치시 세종특별자치시 세종특별자치시 (3611000000),386525,386525,43541,50736,37810,59340,77183,54433,37233,...,25151,18611,30072,38939,25932,18700,8685,5262,1192,38

In [50]:
df['sum_60'] = df.iloc[:, 9:14].sum(axis=1)
df['sum_0_20'] = df.iloc[:, 3:5].sum(axis=1)
df['sum_20_60'] = df.iloc[:, 5:9].sum(axis=1)

df['oldAgePercent'] = (df.iloc[:,-3]/df.iloc[:,2]) * 100
df['childAgePercent'] = (df.iloc[:,-3]/df.iloc[:,2]) * 100
df['adultAgePercent'] = (df.iloc[:,-3]/df.iloc[:,2]) * 100

In [51]:
df.head()

,행정구역,총인구수,연령구간인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,...,70~79세,80~89세,90~99세,100세 이상,sum_60,sum_0_20,sum_20_60,oldAgePercent,childAgePercent,adultAgePercent
0,세종특별자치시 (3600000000),386525,386525,43541,50736,37810,59340,77183,54433,37233,...,8685,5262,1192,38,63482,94277,228766,16.423776,24.390919,59.185305
1,세종특별자치시 세종특별자치시 세종특별자치시 (3611000000),386525,386525,43541,50736,37810,59340,77183,54433,37233,...,8685,5262,1192,38,63482,94277,228766,16.423776,24.390919,59.185305

In [52]:
df['행정구역'] = df['행정구역'].str.replace('경기도 경기도 ', '')
df['행정구역'] = df['행정구역'].str.replace(r'\(.*\)', '',regex=True)

cbArr = []
df.head()
df.to_csv("경기인구v1.csv",index=False,encoding="CP949")

for i in range(3) :
    max_index = df['oldAgePercent'].idxmax()
    max_value = df.at[max_index, '행정구역'].rstrip()
    cbArr.append(max_value)
    df = df.drop(index=max_index)
    
    
print(cbArr)

ValueError: attempt to get argmax of an empty sequence

In [56]:
df2=pd.read_csv("경기인구v1.csv",encoding="CP949") # 파일명 바꾸기
df2

,행정구역,총인구수,연령구간인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,...,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,sum_60,sum_0_20,sum_20_60,oldAgePercent,childAgePercent,adultAgePercent
0,경기도,13630821,13630821,989550,1320631,1682138,1878734,2256931,2335999,1831793,...,NaN,NaN,NaN,NaN,3166838,2310181,8153802,23.232922,16.948216,59.818862
1,수원시,1197257,1197257,82636,113383,175839,184342,195012,202330,146108,...,NaN,NaN,NaN,NaN,243715,196019,757523,20.356114,16.372341,63.271545
2,수원시 장안구,270849,270849,15171,26211,40724,33585,41002,49885,36970,...,NaN,NaN,NaN,NaN,64271,41382,165196,23.729458,15.278624,60.991918
3,수원시 권선구,366167,366167,25476,32358,49920,57315,59602,62539,48626,...,NaN,NaN,NaN,NaN,78957,57834,229376,21.563112,15.794433,62.642455
4,수원시 팔달구,197213,197213,11737,14079,30338,32305,28749,32690,26876,...,NaN,NaN,NaN,NaN,47315,25816,124082,23.991826,13.090415,62.917759
5,수원시 영통구,363028,363028,30252,40735,54857,61137,65659,57216,33636,...,NaN,NaN,NaN,NaN,53172,70987,238869,14.646804,19.554139,65.799057
6,성남시,919747,919747,60026,83353,116584,134145,147372,154797,126893,...,NaN,NaN,NaN,NaN,223470,143379,552898,24.296899,15.588961,60.114140
7,성남시 수정구,235942,235942,14310,16448,30868,36087,35299,39498,36360,...,NaN,NaN,NaN,NaN,63432,30758,141752,26.884573,13.036255,60.079172
8,성남시 중원구,210848,210848,12044,14868,27048,32100,31091,35761,33744,...,NaN,NaN,NaN,NaN,57936,26912,126000,27.477614,12.763697,59.758689
9,성남시 분당구,472957,472957,33672,52037,58668,65958,80982,79538,56789,...,NaN,NaN,NaN,NaN,102102,85709,285146,21.588009,18.121943,60.290048
10,의정부시,464213,464213,30270,40369,59680,60343,71137,82385,67316,...,NaN,NaN,NaN,NaN,120029,70639,273545,25.856450,15.216937,58.926613
11,안양시,544660,544660,35412,48471,68147,78448,82828,95037,81458,...,NaN,NaN,NaN,NaN,136317,83883,324460,25.027907,15.400984,59.571109
12,안양시 만안구,230664,230664,13243,16611,29339,32527,32303,40752,38331,...,NaN,NaN,NaN,NaN,65889,29854,134921,28.564926,12.942635,58.492439
13,안양시 동안구,313996,313996,22169,31860,38808,45921,50525,54285,43127,...,NaN,NaN,NaN,NaN,70428,54029,189539,22.429585,17.206907,60.363508
14,부천시,779968,779968,45444,64437,98528,106793,118285,139754,127004,...,NaN,NaN,NaN,NaN,206727,109881,463360,26.504549,14.087886,59.407565
15,광명시,280197,280197,18632,28172,33150,36706,46273,48513,40077,...,NaN,NaN,NaN,NaN,68751,46804,164642,24.536665,16.703962,58.759373
16,평택시,591022,591022,48443,56196,76968,92619,100863,98139,68170,...,NaN,NaN,NaN,NaN,117794,104639,368589,19.930561,17.704755,62.364684
17,동두천시,88626,88626,4521,7788,9650,8855,12232,16052,14931,...,NaN,NaN,NaN,NaN,29528,12309,46789,33.317537,13.888701,52.793763
18,안산시,629308,629308,35228,56041,93690,82516,94048,125407,90169,...,NaN,NaN,NaN,NaN,142378,91269,395661,22.624534,14.503073,62.872393
19,안산시 상록구,334867,334867,17826,30111,50843,41705,49602,67794,47802,...,NaN,NaN,NaN,NaN,76986,47937,209944,22.990023,14.315236,62.694741
20,안산시 단원구,294441,294441,17402,25930,42847,40811,44446,57613,42367,...,NaN,NaN,NaN,NaN,65392,43332,185717,22.208864,14.716700,63.074436
21,고양시,1074907,1074907,70336,98947,134406,143591,168583,198739,149416,...,NaN,NaN,NaN,NaN,260305,169283,645319,24.216514,15.748618,60.034868
22,고양시 덕양구,496438,496438,35940,41413,58770,72872,78922,85915,69326,...,NaN,NaN,NaN,NaN,122606,77353,296479,24.697142,15.581603,59.721254
23,고양시 일산동구,291597,291597,17060,27372,38797,37031,45369,56352,40944,...,NaN,NaN,NaN,NaN,69616,44432,177549,23.874045,15.237468,60.888487
24,고양시 일산서구,286872,286872,17336,30162,36839,33688,44292,56472,39146,...,NaN,NaN,NaN,NaN,68083,47498,171291,23.732884,16.557210,59.709905
25,과천시,81000,81000,7995,7890,9503,12022,12474,13229,10600,...,NaN,NaN,NaN,NaN,17887,15885,47228,22.082716,19.611111,58.306173
26,구리시,187093,187093,11817,16744,23177,23913,29694,34526,28040,...,NaN,NaN,NaN,NaN,47222,28561,111310,25.239854,15.265670,59.494476
27,남양주시,732265,732265,54337,79299,81665,85052,128329,127403,98255,...,NaN,NaN,NaN,NaN,176180,133636,422449,24.059596,18.249677,57.690727
28,오산시,229656,229656,18139,25482,28851,34992,44413,36503,24599,...,NaN,NaN,NaN,NaN,41276,43621,144759,17.972968,18.994061,63.032971
29,시흥시,519715,519715,43910,51516,64220,76407,93191,92668,62438,...,NaN,NaN,NaN,NaN,97803,95426,326486,18.818583,18.361217,62.820200
30,군포시,261229,261229,15408,23938,33421,35657,39333,47043,39626,...,NaN,NaN,NaN,NaN,66429,39346,155454,25.429413,15.061881,59.508707
31,의왕시,158870,158870,11620,13402,19759,22979,22715,27898,24751,...,NaN,NaN,NaN,NaN,40497,25022,93351,25.490653,15.749984,58.759363
32,하남시,329861,329861,30685,31773,35977,51573,61110,48250,41700,...,NaN,NaN,NaN,NaN,70493,62458,196910,21.370517,18.934642,59.694841
33,용인시,1075566,1075566,81223,120355,132631,133020,190127,183137,123235,...,NaN,NaN,NaN,NaN,235073,201578,638915,21.855749,18.741574,59.402677
34,용인시 처인구,261488,261488,17293,24728,32807,32165,42678,45901,37545,...,NaN,NaN,NaN,NaN,65916,42021,153551,25.208040,16.069953,58.722006
35,용인시 기흥구,436656,436656,32651,50015,55201,52410,77672,75559,47834,...,NaN,NaN,NaN,NaN,93148,82666,260842,21.332124,18.931607,59.736268
36,용인시 수지구,377422,377422,31279,45612,44623,48445,69777,61677,37856,...,NaN,NaN,NaN,NaN,76009,76891,224522,20.138996,20.372686,59.488318
37,파주시,497753,497753,40067,51856,56512,69216,84109,82770,61802,...,NaN,NaN,NaN,NaN,113223,91923,292607,22.746824,18.467593,58.785582
38,이천시,222098,222098,15505,21877,28876,30294,34510,36450,31178,...,NaN,NaN,NaN,NaN,54586,37382,130130,24.577439,16.831309,58.591253
39,안성시,189034,189034,11213,17415,22134,21541,29265,32821,29709,...,NaN,NaN,NaN,NaN,54645,28628,105761,28.907498,15.144366,55.948136
40,김포시,486172,486172,45831,53091,49355,66699,94373,72951,58601,...,NaN,NaN,NaN,NaN,103872,98922,283378,21.365278,20.347120,58.287602
41,화성시,944342,944342,95153,110022,110981,155558,183476,138446,91282,...,NaN,NaN,NaN,NaN,150706,205175,588461,15.958837,21.726768,62.314395
42,광주시,391377,391377,29868,35005,41450,52357,68498,68090,57445,...,NaN,NaN,NaN,NaN,96109,64873,230395,24.556630,16.575578,58.867792
43,양주시,268026,268026,21638,26848,29681,34043,43977,45437,36854,...,NaN,NaN,NaN,NaN,66402,48486,153138,24.774462,18.090036,57.135502
44,포천시,143323,143323,6646,10499,16074,13767,17319,27974,29240,...,NaN,NaN,NaN,NaN,51044,17145,75134,35.614661,11.962490,52.422849
45,여주시,114412,114412,6231,9285,11209,11324,15462,20384,21741,...,NaN,NaN,NaN,NaN,40517,15516,58379,35.413243,13.561515,51.025242
46,연천군,41584,41584,2071,2832,4498,3976,4342,6579,8632,...,NaN,NaN,NaN,NaN,17286,4903,19395,41.568873,11.790593,46.640535
47,가평군,62302,62302,2763,4349,5700,5437,7459,10845,13605,...,NaN,NaN,NaN,NaN,25749,7112,29441,41.329331,11.415364,47.255305
48,양평군,125238,125238,6482,9996,9822,10549,16122,21442,26918,...,NaN,NaN,NaN,NaN,50825,16478,57935,40.582730,13.157348,46.259921

In [57]:
filt = df2['행정구역'].str.contains("장안")
df2[filt]

,행정구역,총인구수,연령구간인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,...,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,sum_60,sum_0_20,sum_20_60,oldAgePercent,childAgePercent,adultAgePercent
2,수원시 장안구,270849,270849,15171,26211,40724,33585,41002,49885,36970,...,NaN,NaN,NaN,NaN,64271,41382,165196,23.729458,15.278624,60.991918