In [102]:
import pandas as pd

df = pd.read_csv("people_combined_data.csv",encoding="cp949")
df2 = pd.read_csv("update_uul_location.csv",encoding="cp949")

df.head()

,행정구역,총인구수,연령구간인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상,oldAgePercent,childAgePercent,adultAgePercent
0,경기도,13630821.0,13630821.0,989550.0,1320631.0,1682138.0,1878734.0,2256931.0,2335999.0,1831793.0,847103.0,423029.0,63061.0,1852.0,23.232922,16.948216,59.818862
1,수원시,1197257.0,1197257.0,82636.0,113383.0,175839.0,184342.0,195012.0,202330.0,146108.0,62753.0,30244.0,4483.0,127.0,20.356114,16.372341,63.271545
2,수원시 장안구,270849.0,270849.0,15171.0,26211.0,40724.0,33585.0,41002.0,49885.0,36970.0,16909.0,8973.0,1378.0,41.0,23.729458,15.278624,60.991918
3,수원시 권선구,366167.0,366167.0,25476.0,32358.0,49920.0,57315.0,59602.0,62539.0,48626.0,20039.0,8919.0,1345.0,28.0,21.563112,15.794433,62.642455
4,수원시 팔달구,197213.0,197213.0,11737.0,14079.0,30338.0,32305.0,28749.0,32690.0,26876.0,13234.0,6346.0,831.0,28.0,23.991826,13.090415,62.917759

In [103]:
df2.head()

   Unnamed: 0  진료년도 상별구분  시도  시군구 성별   0~19   20~59     60~
0           0  2018  우울증  서울  강남구  남  580.0  5173.0  1631.0
1           1  2018  우울증  서울  강남구  여  761.0  9649.0  3878.0
2           2  2018  우울증  서울  강동구  남  172.0  2874.0  2960.0
3           3  2018  우울증  서울  강동구  여  350.0  4722.0  3780.0
4           4  2018  우울증  서울  강서구  남  127.0  1378.0   481.0

In [104]:
peopleNum = df.loc[df['행정구역'].str.contains('진안군'), '총인구수']

print(peopleNum)

170    24465.0
Name: 총인구수, dtype: float64

In [105]:
arr = list(df['행정구역'])
print(arr)

['경기도  ', '수원시 ', '수원시 장안구 ', '수원시 권선구 ', '수원시 팔달구 ', '수원시 영통구 ', '성남시 ', '성남시 수정구 ', '성남시 중원구 ', '성남시 분당구 ', '의정부시 ', '안양시 ', '안양시 만안구 ', '안양시 동안구 ', '부천시 ', '광명시 ', '평택시 ', '동두천시 ', '안산시 ', '안산시 상록구 ', '안산시 단원구 ', '고양시 ', '고양시 덕양구 ', '고양시 일산동구 ', '고양시 일산서구 ', '과천시 ', '구리시 ', '남양주시 ', '오산시 ', '시흥시 ', '군포시 ', '의왕시 ', '하남시 ', '용인시 ', '용인시 처인구 ', '용인시 기흥구 ', '용인시 수지구 ', '파주시 ', '이천시 ', '안성시 ', '김포시 ', '화성시 ', '광주시 ', '양주시 ', '포천시 ', '여주시 ', '연천군 ', '가평군 ', '양평군 ', '강원특별자치도  ', '춘천시 ', '원주시 ', '강릉시 ', '동해시 ', '태백시 ', '속초시 ', '삼척시 ', '홍천군 ', '횡성군 ', '영월군 ', '평창군 ', '정선군 ', '철원군 ', '화천군 ', '양구군 ', '인제군 ', '고성군 ', '양양군 ', '경상남도  ', '창원시 ', '창원시 의창구 ', '창원시 성산구 ', '창원시 마산합포구 ', '창원시 마산회원구 ', '창원시 진해구 ', '진주시 ', '통영시 ', '사천시 ', '김해시 ', '밀양시 ', '거제시 ', '양산시 ', '의령군 ', '함안군 ', '창녕군 ', '고성군 ', '남해군 ', '하동군 ', '산청군 ', '함양군 ', '거창군 ', '합천군 ', '경상북도  ', '포항시 ', '포항시 남구 ', '포항시 북구 ', '경주시 ', '김천시 ', '안동시 ', '구미시 ', '영주시 ', '영천시 ', '상주시 ', '문경시 ', '경산시 ', '의성군 ', '청송군 ', '영양군 ', '영덕군 ', '청도군 ', '고령군 ', '성주군 ', '칠곡군 ', '예천군 ', '봉화군 ', '울진군 ', '울릉군 ', '전국  ', '서울특별시  ', '부산광역시  ', '대구광역시  ', '인천광역시  ', '광주광역시  ', '대전광역시  ', '울산광역시  ', '세종특별자치시  ', '경기도  ', '강원특별자치도  ', '충청북도  ', '충청남도  ', '전라북도  ', '전라남도  ', '경상북도  ', '경상남도  ', '제주특별자치도  ', '세종특별자치시  ', '세종특별자치시 ', '전라남도  ', '목포시 ', '여수시 ', '순천시 ', '나주시 ', '광양시 ', '담양군 ', '곡성군 ', '구례군 ', '고흥군 ', '보성군 ', '화순군 ', '장흥군 ', '강진군 ', '해남군 ', '영암군 ', '무안군 ', '함평군 ', '영광군 ', '장성군 ', '완도군 ', '진도군 ', '신안군 ', '전라북도  ', '전주시 ', '전주시 완산구 ', '전주시 덕진구 ', '군산시 ', '익산시 ', '정읍시 ', '남원시 ', '김제시 ', '완주군 ', '진안군 ', '무주군 ', '장수군 ', '임실군 ', '순창군 ', '고창군 ', '부안군 ', '제주특별자치도  ', '제주특별자치도 제주특별자치도 제주시 ', '제주특별자치도 제주특별자치도 서귀포시 ', '충청남도  ', '천안시 ', '천안시 동남구 ', '천안시 서북구 ', '공주시 ', '보령시 ', '아산시 ', '서산시 ', '논산시 ', '계룡시 ', '당진시 ', '금산군 ', '부여군 ', '서천군 ', '청양군 ', '홍성군 ', '예산군 ', '태안군 ', '충청북도  ', '청주시 ', '청주시 상당구 ', '청주시 서원구 ', '청주시 흥덕구 ', '청주시 청원구 ', '충주시 ', '제천시 ', '보은군 ', '옥천군 ', '영동군 ', '증평군 ', '진천군 ', '괴산군 ', '음성군 ', '단양군 ']

In [106]:
df2['총인구수'] = 0
df2.head()

   Unnamed: 0  진료년도 상별구분  시도  시군구 성별   0~19   20~59     60~  총인구수
0           0  2018  우울증  서울  강남구  남  580.0  5173.0  1631.0     0
1           1  2018  우울증  서울  강남구  여  761.0  9649.0  3878.0     0
2           2  2018  우울증  서울  강동구  남  172.0  2874.0  2960.0     0
3           3  2018  우울증  서울  강동구  여  350.0  4722.0  3780.0     0
4           4  2018  우울증  서울  강서구  남  127.0  1378.0   481.0     0

In [110]:
print(arr)
for i in arr :
    i.strip()
    people_num = df.loc[df['행정구역'].str.contains(i), '총인구수']
    print(people_num)
    # print(people_num.values)
    # print(people_num.values[0])
    name = i.strip()
    df2.loc[df2['시군구'].str.contains(name),'총인구수'] = int(people_num.values[0])

# peopleNum = df.loc[df['행정구역'].str.contains('진안군'), '총인구수']
# 
# df2.loc[df2['시군구'].str.contains('진안군'),"총인구수"] = int(peopleNum.values)
# print(df2[df2['시군구'].str.contains('진안군')])

df2.to_csv("v1.csv",encoding="cp949",index=False)

['경기도  ', '수원시 ', '수원시 장안구 ', '수원시 권선구 ', '수원시 팔달구 ', '수원시 영통구 ', '성남시 ', '성남시 수정구 ', '성남시 중원구 ', '성남시 분당구 ', '의정부시 ', '안양시 ', '안양시 만안구 ', '안양시 동안구 ', '부천시 ', '광명시 ', '평택시 ', '동두천시 ', '안산시 ', '안산시 상록구 ', '안산시 단원구 ', '고양시 ', '고양시 덕양구 ', '고양시 일산동구 ', '고양시 일산서구 ', '과천시 ', '구리시 ', '남양주시 ', '오산시 ', '시흥시 ', '군포시 ', '의왕시 ', '하남시 ', '용인시 ', '용인시 처인구 ', '용인시 기흥구 ', '용인시 수지구 ', '파주시 ', '이천시 ', '안성시 ', '김포시 ', '화성시 ', '광주시 ', '양주시 ', '포천시 ', '여주시 ', '연천군 ', '가평군 ', '양평군 ', '강원특별자치도  ', '춘천시 ', '원주시 ', '강릉시 ', '동해시 ', '태백시 ', '속초시 ', '삼척시 ', '홍천군 ', '횡성군 ', '영월군 ', '평창군 ', '정선군 ', '철원군 ', '화천군 ', '양구군 ', '인제군 ', '고성군 ', '양양군 ', '경상남도  ', '창원시 ', '창원시 의창구 ', '창원시 성산구 ', '창원시 마산합포구 ', '창원시 마산회원구 ', '창원시 진해구 ', '진주시 ', '통영시 ', '사천시 ', '김해시 ', '밀양시 ', '거제시 ', '양산시 ', '의령군 ', '함안군 ', '창녕군 ', '고성군 ', '남해군 ', '하동군 ', '산청군 ', '함양군 ', '거창군 ', '합천군 ', '경상북도  ', '포항시 ', '포항시 남구 ', '포항시 북구 ', '경주시 ', '김천시 ', '안동시 ', '구미시 ', '영주시 ', '영천시 ', '상주시 ', '문경시 ', '경산시 ', '의성군 ', '청송군 ', '영양군 ', '영덕군 ', '청도군 ', '고령군 ', '성주군 ', '칠곡군 ', '예천군 ', '봉화군 ', '울진군 ', '울릉군 ', '전국  ', '서울특별시  ', '부산광역시  ', '대구광역시  ', '인천광역시  ', '광주광역시  ', '대전광역시  ', '울산광역시  ', '세종특별자치시  ', '경기도  ', '강원특별자치도  ', '충청북도  ', '충청남도  ', '전라북도  ', '전라남도  ', '경상북도  ', '경상남도  ', '제주특별자치도  ', '세종특별자치시  ', '세종특별자치시 ', '전라남도  ', '목포시 ', '여수시 ', '순천시 ', '나주시 ', '광양시 ', '담양군 ', '곡성군 ', '구례군 ', '고흥군 ', '보성군 ', '화순군 ', '장흥군 ', '강진군 ', '해남군 ', '영암군 ', '무안군 ', '함평군 ', '영광군 ', '장성군 ', '완도군 ', '진도군 ', '신안군 ', '전라북도  ', '전주시 ', '전주시 완산구 ', '전주시 덕진구 ', '군산시 ', '익산시 ', '정읍시 ', '남원시 ', '김제시 ', '완주군 ', '진안군 ', '무주군 ', '장수군 ', '임실군 ', '순창군 ', '고창군 ', '부안군 ', '제주특별자치도  ', '제주특별자치도 제주특별자치도 제주시 ', '제주특별자치도 제주특별자치도 서귀포시 ', '충청남도  ', '천안시 ', '천안시 동남구 ', '천안시 서북구 ', '공주시 ', '보령시 ', '아산시 ', '서산시 ', '논산시 ', '계룡시 ', '당진시 ', '금산군 ', '부여군 ', '서천군 ', '청양군 ', '홍성군 ', '예산군 ', '태안군 ', '충청북도  ', '청주시 ', '청주시 상당구 ', '청주시 서원구 ', '청주시 흥덕구 ', '청주시 청원구 ', '충주시 ', '제천시 ', '보은군 ', '옥천군 ', '영동군 ', '증평군 ', '진천군 ', '괴산군 ', '음성군 ', '단양군 ']
0      13630821.0
126    13630821.0
Name: 총인구수, dtype: float64
1    1197257.0
2     270849.0
3     366167.0
4     197213.0
5     363028.0
Name: 총인구수, dtype: float64
2    270849.0
Name: 총인구수, dtype: float64
3    366167.0
Name: 총인구수, dtype: float64
4    197213.0
Name: 총인구수, dtype: float64
5    363028.0
Name: 총인구수, dtype: float64
6    919747.0
7    235942.0
8    210848.0
9    472957.0
Name: 총인구수, dtype: float64
7    235942.0
Name: 총인구수, dtype: float64
8    210848.0
Name: 총인구수, dtype: float64
9    472957.0
Name: 총인구수, dtype: float64
10    464213.0
Name: 총인구수, dtype: float64
11    544660.0
12    230664.0
13    313996.0
Name: 총인구수, dtype: float64
12    230664.0
Name: 총인구수, dtype: float64
13    313996.0
Name: 총인구수, dtype: float64
14    779968.0
Name: 총인구수, dtype: float64
15    280197.0
Name: 총인구수, dtype: float64
16    591022.0
Name: 총인구수, dtype: float64
17    88626.0
Name: 총인구수, dtype: float64
18    629308.0
19    334867.0
20    294441.0
Name: 총인구수, dtype: float64
19    334867.0
Name: 총인구수, dtype: float64
20    294441.0
Name: 총인구수, dtype: float64
21    1074907.0
22     496438.0
23     291597.0
24     286872.0
Name: 총인구수, dtype: float64
22    496438.0
Name: 총인구수, dtype: float64
23    291597.0
Name: 총인구수, dtype: float64
24    286872.0
Name: 총인구수, dtype: float64
25    81000.0
Name: 총인구수, dtype: float64
26    187093.0
Name: 총인구수, dtype: float64
27    732265.0
Name: 총인구수, dtype: float64
28    229656.0
Name: 총인구수, dtype: float64
29    519715.0
Name: 총인구수, dtype: float64
30    261229.0
Name: 총인구수, dtype: float64
31    158870.0
Name: 총인구수, dtype: float64
32    329861.0
Name: 총인구수, dtype: float64
33    1075566.0
34     261488.0
35     436656.0
36     377422.0
Name: 총인구수, dtype: float64
34    261488.0
Name: 총인구수, dtype: float64
35    436656.0
Name: 총인구수, dtype: float64
36    377422.0
Name: 총인구수, dtype: float64
37    497753.0
Name: 총인구수, dtype: float64
38    222098.0
Name: 총인구수, dtype: float64
39    189034.0
Name: 총인구수, dtype: float64
40    486172.0
Name: 총인구수, dtype: float64
41    944342.0
Name: 총인구수, dtype: float64
42    391377.0
Name: 총인구수, dtype: float64
27    732265.0
43    268026.0
Name: 총인구수, dtype: float64
44    143323.0
Name: 총인구수, dtype: float64
45    114412.0
Name: 총인구수, dtype: float64
46    41584.0
Name: 총인구수, dtype: float64
47    62302.0
Name: 총인구수, dtype: float64
48    125238.0
Name: 총인구수, dtype: float64
49     1527807.0
127    1527807.0
Name: 총인구수, dtype: float64
50    286426.0
Name: 총인구수, dtype: float64
51    361503.0
Name: 총인구수, dtype: float64
52    209439.0
Name: 총인구수, dtype: float64
53    88625.0
Name: 총인구수, dtype: float64
54    38702.0
Name: 총인구수, dtype: float64
55    82054.0
Name: 총인구수, dtype: float64
56    62651.0
Name: 총인구수, dtype: float64
57    67309.0
Name: 총인구수, dtype: float64
58    46359.0
Name: 총인구수, dtype: float64
59    37332.0
Name: 총인구수, dtype: float64
60    40659.0
Name: 총인구수, dtype: float64
61    34202.0
Name: 총인구수, dtype: float64
62    41448.0
Name: 총인구수, dtype: float64
63    23007.0
Name: 총인구수, dtype: float64
64    21056.0
Name: 총인구수, dtype: float64
65    32020.0
Name: 총인구수, dtype: float64
66    27305.0
85    49468.0
Name: 총인구수, dtype: float64
67    27710.0
Name: 총인구수, dtype: float64
68     3251158.0
133    3251158.0
Name: 총인구수, dtype: float64
69    1009038.0
70     213342.0
71     245259.0
72     179394.0
73     179818.0
74     191225.0
Name: 총인구수, dtype: float64
70    213342.0
Name: 총인구수, dtype: float64
71    245259.0
Name: 총인구수, dtype: float64
72    179394.0
Name: 총인구수, dtype: float64
73    179818.0
Name: 총인구수, dtype: float64
74    191225.0
Name: 총인구수, dtype: float64
75    341074.0
Name: 총인구수, dtype: float64
76    120551.0
Name: 총인구수, dtype: float64
77    109030.0
Name: 총인구수, dtype: float64
78    533659.0
Name: 총인구수, dtype: float64
79    102084.0
Name: 총인구수, dtype: float64
80    234038.0
Name: 총인구수, dtype: float64
81    355122.0
Name: 총인구수, dtype: float64
82    25475.0
Name: 총인구수, dtype: float64
83    60203.0
Name: 총인구수, dtype: float64
84    57083.0
Name: 총인구수, dtype: float64
66    27305.0
85    49468.0
Name: 총인구수, dtype: float64
86    40780.0
Name: 총인구수, dtype: float64
87    41606.0
Name: 총인구수, dtype: float64
88    33752.0
Name: 총인구수, dtype: float64
89    36945.0
Name: 총인구수, dtype: float64
90    60047.0
Name: 총인구수, dtype: float64
91    41203.0
Name: 총인구수, dtype: float64
92     2554324.0
132    2554324.0
Name: 총인구수, dtype: float64
93    493033.0
94    226278.0
95    266755.0
Name: 총인구수, dtype: float64
94    226278.0
Name: 총인구수, dtype: float64
95    266755.0
Name: 총인구수, dtype: float64
96    247489.0
Name: 총인구수, dtype: float64
97    137515.0
Name: 총인구수, dtype: float64
98    152935.0
Name: 총인구수, dtype: float64
99    405506.0
Name: 총인구수, dtype: float64
100    100199.0
Name: 총인구수, dtype: float64
101    100212.0
Name: 총인구수, dtype: float64
102    93858.0
Name: 총인구수, dtype: float64
103    68755.0
Name: 총인구수, dtype: float64
104    266205.0
Name: 총인구수, dtype: float64
105    50086.0
Name: 총인구수, dtype: float64
106    24019.0
Name: 총인구수, dtype: float64
107    15661.0
Name: 총인구수, dtype: float64
108    34055.0
Name: 총인구수, dtype: float64
109    41316.0
Name: 총인구수, dtype: float64
110    30139.0
Name: 총인구수, dtype: float64
111    42086.0
Name: 총인구수, dtype: float64
112    110581.0
Name: 총인구수, dtype: float64
113    55325.0
Name: 총인구수, dtype: float64
114    29603.0
Name: 총인구수, dtype: float64
115    46669.0
Name: 총인구수, dtype: float64
116    9077.0
Name: 총인구수, dtype: float64
117    51325329.0
Name: 총인구수, dtype: float64
118    9386034.0
Name: 총인구수, dtype: float64
119    3293362.0
Name: 총인구수, dtype: float64
120    2374960.0
Name: 총인구수, dtype: float64
121    2997410.0
Name: 총인구수, dtype: float64
122    1419237.0
Name: 총인구수, dtype: float64
123    1442216.0
Name: 총인구수, dtype: float64
124    1103661.0
Name: 총인구수, dtype: float64
125    386525.0
135    386525.0
Name: 총인구수, dtype: float64
0      13630821.0
126    13630821.0
Name: 총인구수, dtype: float64
49     1527807.0
127    1527807.0
Name: 총인구수, dtype: float64
128    1593469.0
198    1593469.0
Name: 총인구수, dtype: float64
129    2130119.0
180    2130119.0
Name: 총인구수, dtype: float64
130    1754757.0
160    1754757.0
Name: 총인구수, dtype: float64
131    1804217.0
137    1804217.0
Name: 총인구수, dtype: float64
92     2554324.0
132    2554324.0
Name: 총인구수, dtype: float64
68     3251158.0
133    3251158.0
Name: 총인구수, dtype: float64
134    675252.0
177    675252.0
Name: 총인구수, dtype: float64
125    386525.0
135    386525.0
Name: 총인구수, dtype: float64
125    386525.0
135    386525.0
136    386525.0
Name: 총인구수, dtype: float64
131    1804217.0
137    1804217.0
Name: 총인구수, dtype: float64
138    214156.0
Name: 총인구수, dtype: float64
139    271696.0
Name: 총인구수, dtype: float64
140    278137.0
Name: 총인구수, dtype: float64
141    117377.0
Name: 총인구수, dtype: float64
142    152666.0
Name: 총인구수, dtype: float64
143    45373.0
Name: 총인구수, dtype: float64
144    26905.0
Name: 총인구수, dtype: float64
145    24314.0
Name: 총인구수, dtype: float64
146    61113.0
Name: 총인구수, dtype: float64
147    37686.0
Name: 총인구수, dtype: float64
148    61254.0
Name: 총인구수, dtype: float64
149    35046.0
Name: 총인구수, dtype: float64
150    32722.0
Name: 총인구수, dtype: float64
151    64575.0
Name: 총인구수, dtype: float64
152    52350.0
Name: 총인구수, dtype: float64
153    90296.0
Name: 총인구수, dtype: float64
154    30601.0
Name: 총인구수, dtype: float64
155    51750.0
Name: 총인구수, dtype: float64
156    42543.0
Name: 총인구수, dtype: float64
157    46641.0
Name: 총인구수, dtype: float64
158    28979.0
Name: 총인구수, dtype: float64
159    38037.0
Name: 총인구수, dtype: float64
130    1754757.0
160    1754757.0
Name: 총인구수, dtype: float64
161    642727.0
162    327178.0
163    315549.0
Name: 총인구수, dtype: float64
162    327178.0
Name: 총인구수, dtype: float64
163    315549.0
Name: 총인구수, dtype: float64
164    259980.0
Name: 총인구수, dtype: float64
165    270036.0
Name: 총인구수, dtype: float64
166    103620.0
Name: 총인구수, dtype: float64
167    76781.0
Name: 총인구수, dtype: float64
168    81430.0
Name: 총인구수, dtype: float64
169    97827.0
Name: 총인구수, dtype: float64
170    24465.0
Name: 총인구수, dtype: float64
171    23251.0
Name: 총인구수, dtype: float64
172    20983.0
Name: 총인구수, dtype: float64
173    25956.0
Name: 총인구수, dtype: float64
174    26764.0
Name: 총인구수, dtype: float64
175    51750.0
Name: 총인구수, dtype: float64
176    49187.0
Name: 총인구수, dtype: float64
134    675252.0
177    675252.0
Name: 총인구수, dtype: float64
178    491654.0
Name: 총인구수, dtype: float64
179    183598.0
Name: 총인구수, dtype: float64
129    2130119.0
180    2130119.0
Name: 총인구수, dtype: float64
181    655959.0
182    256691.0
183    399268.0
Name: 총인구수, dtype: float64
182    256691.0
Name: 총인구수, dtype: float64
183    399268.0
Name: 총인구수, dtype: float64
184    102104.0
Name: 총인구수, dtype: float64
185    95772.0
Name: 총인구수, dtype: float64
186    345796.0
Name: 총인구수, dtype: float64
187    176011.0
Name: 총인구수, dtype: float64
188    110423.0
Name: 총인구수, dtype: float64
189    46667.0
Name: 총인구수, dtype: float64
190    170302.0
Name: 총인구수, dtype: float64
191    50093.0
Name: 총인구수, dtype: float64
192    61046.0
Name: 총인구수, dtype: float64
193    49116.0
Name: 총인구수, dtype: float64
194    30168.0
Name: 총인구수, dtype: float64
195    97524.0
Name: 총인구수, dtype: float64
196    78354.0
Name: 총인구수, dtype: float64
197    60784.0
Name: 총인구수, dtype: float64
128    1593469.0
198    1593469.0
Name: 총인구수, dtype: float64
199    852189.0
200    200575.0
201    186302.0
202    274594.0
203    190718.0
Name: 총인구수, dtype: float64
200    200575.0
Name: 총인구수, dtype: float64
201    186302.0
Name: 총인구수, dtype: float64
202    274594.0
Name: 총인구수, dtype: float64
203    190718.0
Name: 총인구수, dtype: float64
204    207778.0
Name: 총인구수, dtype: float64
205    130194.0
Name: 총인구수, dtype: float64
206    31010.0
Name: 총인구수, dtype: float64
207    48891.0
Name: 총인구수, dtype: float64
208    44195.0
Name: 총인구수, dtype: float64
209    37484.0
Name: 총인구수, dtype: float64
210    86254.0
Name: 총인구수, dtype: float64
211    36590.0
Name: 총인구수, dtype: float64
212    91183.0
Name: 총인구수, dtype: float64
213    27701.0
Name: 총인구수, dtype: float64